<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monday Test Planner</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
  <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home-page">
  <div class="home-container">
    <h1>📚 Monday Test Planner</h1>
    <form class="home-actions" onsubmit="return false;">
      <button type="button" class="secondary-btn" onclick="location.href='/register'">Register</button>
      <button type="button" class="secondary-btn" onclick="location.href='/login'">Student Dashboard</button>
      <button type="button" class="secondary-btn" onclick="location.href='/login'">Admin Dashboard</button>
    </form>
  </div>



  <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
  <script src="/static/script.js"></script>
  <link rel="stylesheet" href="/static/footer.css"> <!-- always after -->
</body>

</html>